.input {
  background-color: #ffffff;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  margin: 25px 0;
}

.input-label {
  font-size: 16px;
  margin-bottom: -15px;
}

.submit-button {
  padding: 10px 15px;
  background: #009eff;
  border: 1px solid #009eff;
  border-radius: 24px;
  color: #ffffff;
  cursor: pointer;
  float: right;
}

.submit-button:hover {
  background: #4dbbff;
  border: 1px solid #4dbbff;
}
